allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;
allow hal_camera_default sysfs_camera_writable:dir search;
allow hal_camera_default sysfs_camera_writable:file { getattr open read write };
allow hal_camera_default vndbinder_device:chr_file { read write open ioctl};

