allow netd self:capability { sys_module fsetid };

allow netd gpsd:fd use;
allow netd gpsd:udp_socket { getopt read setopt write };

allow netd sysfs:file { open write };